body {
  margin: 0;
  text-align: center;
  font-family: 'Cabin', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Allura', cursive;
}

h2 {
  font-family: 'Cinzel', serif;
}

h3 {
  font-family: 'Cinzel', serif;
}

.Aaron {
  border-radius: 50%;
}

.web_dev-img {
  display: inline;
}

.java-pic {
  padding-bottom: 15px;
}

.python-img {
  padding-bottom: 15px;
}

.swift-img {

  padding-bottom: 15px;
  padding-left: 10px;
}

.CPP-img {
  padding-left: 10px;
}

.C {
  padding-left: 10px;
}

.kubernetes-img {
  padding-left: 10px;
}

.pycharm-img {
  padding-left: 10px;
}

.xcode-img {
  padding-left: 10px;
}

.mountain-container {
  bottom: 50px;
  position: relative;
  top: 50px;
}

.top-cloud {
  position: absolute;
  top: 30px;
  right: 600px;
}

.bottom-cloud {
  position: absolute;

}

.top {
  position: relative;
  padding-top: 100px;
  background-color: #e4fbff
}
